<header>
  <%- include('header') %>
</header>
<main class="container">
  <div>
    <%- include('modal_adopcion') %>
  </div>
  <div class="text-purple-700">
    Aquí irá el template de adopción :D
  </div>
</main>

<%- include('footer') %>


  <script src="/js/adopcion.js"></script>
  <script src="/js/index.js"></script>