<h1>Portal de anuncios</h1>
<div class="row">
    <div class="dropdown mt-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          I'm looking for...
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="?type=1">Cats</a></li>
          <li><a class="dropdown-item" href="?type=2">Dogs</a></li>
        </ul>
      </div>
</div>
<div class="row row-cols-1 row-cols-md-5 g-4 mt-2">
    <% posts.forEach(function(post){ %>

        <div class="col">
            <div class="card" style="cursor: pointer ;" id="<%=post.id%>">
                <img src="data:image/png;base64,<%=post.pet.photo%>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"> <%=post.pet.name%>
                    </h5>
                    <p class="card-text"><%=post.pet.story.length<=100? post.pet.story: post.pet.story.slice(0,100)+"..."%></p>
                </div>
            </div>
        </div>


        <% }) %>

</div>



<script>
    // para cambiar el color de texto de la sección en el navbar
    highlightNavbar(1)
    document.querySelectorAll(".card").forEach((card) => card.addEventListener('click', (ev) => window.location = 'post/'+card.id))
</script>

