<% if (match == false) {%>
<h1>Portal de anuncios</h1>
<% } else {%>
<h1>Resultados del match</h1>
<% } %>
<% if (match == false) {%>
<div class="row">
    <div class="dropdown mt-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Estoy buscando...
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="?type=1">Perros</a></li>
          <li><a class="dropdown-item" href="?type=2">Gatos</a></li>
        </ul>
      </div>
</div>
<% } %>
<% if (match == true) {%>
    <% if (alerta1==true) {%>
        <br>
        <div class="alert alert-warning" role="alert">
            <p class="my-0">Si eres una persona que cambia de hogar constantemente, ten en cuenta que un gran porcentaje del abandono de mascotas
            se da por esa misma causa.</p> 
            <p class="my-0"><b>Solo adopta a una mascota si sabes que podrás llevarla a todos lados contigo.</b></p>
        </div>
    <% } %>    
    <% if (alerta1==true) {%>
        <div class="alert alert-warning" role="alert">
            <p class="my-0">Si ya tienes otros animales en casa, existe la posibilidad de que no se lleve bien con la mascota que quieras adoptar.</p>
            <p class="my-0">Te recomendamos <b>conversar con el albergue</b> y preguntar si puedes llevar a tu mascota actual para <b>examinar el
            comportamiento de la que quieres adoptar</b>!</p>
        </div>
    <% } %>
<% } %>
<div class="row row-cols-1 row-cols-md-5 g-4 mt-2">
    <% posts.forEach(function(post){ %>

        <div class="col">

            <div class="card" role="button" onclick="location.href='../pet_detalle?id=<%=post.id%>'">
                <img src="data:image/png;base64,<%=post.pet.photo?post.pet.photo:''%>" class="card-img-top" style="width: 100%; height: 15vw; object-fit:contain" alt="...">
                <div class="card-body">
                    <h5 class="card-title"> <%=post.pet.name%>
                    </h5>
                    <p class="card-text"><%=post.pet.story.length<=100? post.pet.story: post.pet.story.slice(0,100)+"..."%></p>
                </div>
            </div>
        </div>


        <% }) %>

</div>



<script>
    // para cambiar el color de texto de la sección en el navbar
    highlightNavbar(0)
</script>

