<main class="container">
    
    <div>
        <form action="/signup" method="POST" class="row my-3 p-2 border-2 g-3">
            
            
            <div class="mb-4">
                <label for="" class="form-label">Elige el tipo de cuenta a crear:</label>
                <select class="form-select" id="user_gender">
                    <option selected disabled value="">--Seleccione una opción--</option>
                    <option>Cuenta personal</option>
                    <option>Cuenta corporativa (albergue)</option>
                </select>
            </div>

            <div>
                <button class="btn btn-primary" type="submit">Aceptar</button>
            </div>

        </form>
    
    </div>
</main>
