<main class="container">
    
    <div>
        <form action="/accounts" method="POST" class="row my-3 p-2 border-2 g-3">
            
            
            <div class="mb-4">
                <label for="" class="form-label">Elige el tipo de cuenta a administrar:</label>
                
                <select class="form-select" id="user_gender" name="tipo_cuenta" required>
                    <option selected disabled value="">--Seleccione una opción--</option>
                    <option value="0">Usuarios</option>
                    <option value="1">Sheltes (albergues)</option>
                    <option value="2">Establecimientos PetFriendly</option>
                </select>
            </div>

            <div>
                <button class="btn btn-primary" type="submit">Aceptar</button>
            </div>

        </form>
    
    </div>
</main>