<main>
    <!--<nav class="navbar navbar-warning bg-warning">
        <div class="container">
            <h1>Crear Usuario</h1>
        </div>
    </nav>-->
    
    <div>
        <form action="">
            <div>
                <label>Nombres completos</label>
                <input type="text">
            </div>
        </form>
    
    </div>
</main>
