<main class="container">
    
    <div>
        <form action="/usuario/cambiarContrasena" method="POST" class="row my-3 p-2 border-2 g-3">
            
            <h2 class="mb-4">Cambiar contrase単a:</h2>
            

            <div class="mb-4 col-md-6">
                <label class="form-label">Nueva contrase単a:</label>
                <input placeholder="Ingrese su nueva contrase単a" name="password" type="password" class="form-control me-2" value="" required>

            </div>

        
            <div>
                <button class="btn btn-primary" type="submit">Cambiar contrase単a</button>
            </div>

        </form>
    
    </div>
</main>
