<div class="row row-cols-1 row-cols-md-5 g-4 mt-2 pb-3">
    <% establecimientos.forEach(function(establecimiento){ %>

        <div class="col">

            <div class="card" role="button" onclick="location.href='#<%=establecimiento.id%>'">
                <img src="data:image/png;base64,<%=establecimiento.photo[1]%>" class="card-img-top"
                    style="width: 100%; height: 15vw; object-fit:contain" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        
                    </h5>
                    <p class="card-text">
                        
                    </p>
                </div>
            </div>
        </div>
    <% }) %>
</div>
