<!-- Modal -->
<div id="avisoAdopcionModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-xl ">
        <div class="modal-content">
            <div class="modal-header bg-info text-white">
                <h5 class="modal-title font-weight-bold fw-bold">¡Importante!</h5>
            </div>
            <div class="modal-body py-1 text-justify">
                <div class="text-info fw-bold">
                    Antes de dar en adopción, deberías saber que:
                </div>
                <ul class="list-group d-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                        <symbol id="check-fill" fill="currentColor" viewBox="0 0 16 16">
                            <path
                                d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                        </symbol>
                    </svg>

                    <li class="list-group-item d-flex pb-1 border-0">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img">
                            <use xlink:href="#check-fill" />
                        </svg>
                        <p>Los particulares no pueden publicar tasa de adopción ni recibir
                            donaciones y
                            apadrinamientos.</p>
                    </li>
                    <li class="list-group-item d-flex pb-1 border-0">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img">
                            <use xlink:href="#check-fill" />
                        </svg>
                        <p>Queda <strong>totalmente prohibida la venta</strong>, en caso de detectar indicios de ello
                            tu cuenta podrá
                            ser borrada.</p>
                    </li>
                    <li class="list-group-item d-flex pb-1 border-0">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img">
                            <use xlink:href="#check-fill" />
                        </svg>
                        <p>El anuncio será validado antes de que sea visible a los posibles adoptantes. En caso de
                            incumplir nuestras políticas de publicación, será eliminado. El proceso de validación puede
                            durar hasta 24 horas.</p>
                    </li>
                </ul>
                <div class="modal-footer py-1 text-center">
                    <div class="col">
                        <button type="button" class="btn btn-info modal-footer-centered text-white fw-bold"
                            data-bs-toggle="modal" data-bs-target="#avisoAdopcionModal"
                            data-dismiss="modal">Continuar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin Modal -->