<!-- Modal -->
<div id="avisoAdopcionModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold">Importante:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row mb-1 modal-dialog modal-dialog-centered my-0">
                    titulo h2
                </div>
                <ul class="list-group">
                    <li class="list-group-item border-0">An item</li>
                    <li class="list-group-item border-0">A second item</li>
                    <li class="list-group-item border-0">A third item</li>
                    <li class="list-group-item border-0">A fourth item</li>
                    <li class="list-group-item border-0">And a fifth one</li>
                  </ul>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-success modal-footer-centered" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin Modal -->