<div class="container justify-content-center">
    <div class="row mb-3">
        <h1>Nuevo establecimiento</h1>
    </div>
    <form action="/establishments/new/save" method="POST" enctype="multipart/form-data">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="newEstablishmentName" name="name" placeholder="name">
            <label for="newEstablishmentName">Nombre</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="newEstablishmentLink" name="link" placeholder="Página web">
            <label for="newEstablishmentLink">Página web</label>
        </div>
        <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" role="switch" id="newEstablishmentOfPets" name="ofPets"
                value="true">
            <label class="form-check-label" for="newEstablishmentOfPets">Es un lugar exclusivamente dedicado a las
                mascotas?</label>
        </div>
        <div class="mb-3">
            <label for="newEstablishmentType" class="form-label">Tipo de establecimiento</label>
            <select class="form-select" id="newEstablishmentType" aria-label="Tipo de establecimiento" name="type">
                <option selected>Seleccione el tipo de establecimiento</option>
                <option value="Spa mascotas">Spa mascotas</option>
                <option value="Veterinaria">Veterinarias</option>
                <option value="Hoteles y establecimientos">Hoteles y establecimientos</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="newEstablishmentProvince" class="form-label">Provincia</label>
            <select class="form-select" id="newEstablishmentProvince" name="province">
                <option selected>Seleccione la provincia</option>
                <option value="Lima">Lima</option>
                <option value="Arequipa">Arequipa</option>
                <option value="Ica">Ica</option>
                <option value="Trujillo">Trujillo</option>
                <option value="Cusco">Cusco</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="newEstablishmentDistrict" class="form-label">Distrito</label>
            <input type="text" class="form-control" id="newEstablishmentDistrict"
                placeholder="Ingrese el distrito del establecimiento" name="district">
        </div>
        <div class="mb-3">
            <label for="newEstablishmentAddress" class="form-label">Dirección</label>
            <input type="text" class="form-control" id="newEstablishmentAddress"
                placeholder="Ingrese la dirección del establecimiento" name="address">
        </div>
        <div class="row mb-3 justify-content-center">
            <p class="lead">Arrastre el marcador a la ubicación exacta</p>
            <div id="map" style="height: 30rem; width: 50rem;"></div>
        </div>
        <div>
            <input type="text" id="mapLat" name="mapLat" hidden value=<%=lat%>>
            <input type="text" id="mapLng" name="mapLng" hidden value=<%=long%>>
        </div>
        <div class="mb-3">
            <div class="row mb-3">
                <label for="input_foto" class="">Foto</label>
            </div>
            <button class="rounded-3 bg-transparent px-0 border-0 bg-transparent" id="boton_selec_foto" type="button">
                <img src="/img/petDefault.png" class="img-thumbnail border-2 rounded-3 position-relative"
                    id="image-field" width="200" height="200">
            </button>
            <input type="file" multiple name="image" id="input_foto" onchange="handleIMG(this.files), previewImage(event)"
                accept="image/*" style="display: none">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
</div>
<script src="/js/selectFoto.js"></script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCizeC9tFV647keWnjuTGF2G3yJregpyEs&callback=initMap">
    </script>
<script>

    let map = null;
    const lat = parseFloat(document.querySelector('#mapLat').getAttribute('value'));
    const long = parseFloat(document.querySelector('#mapLng').getAttribute('value'));

    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: lat, lng: long },
            zoom: 16,
        });

        var mark = new google.maps.Marker({
            position: { lat: lat, lng: long },
            map: map,
            draggable: true
        });

        var moveMarker = function (e) {
            mark.setPosition(e.latLng);
        }

        google.maps.event.addListener(mark, 'dragend', function () {
            document.querySelector('#mapLat').setAttribute('value', mark.getPosition().lat())
            document.querySelector('#mapLng').setAttribute('value', mark.getPosition().lng())
        });
    }
</script>