<main class="container">

    <h2>Reporte/Denuncia a anunciante</h2>

    <form action="" method="POST" class="row my-3 p-2 border-2 g-3">

        <label class="form-label" for="">Motivo del reporte:</label>
        <select class="form-select" name="" id="">
            <option selected disabled value="1">--Seleccione una opción--</option>
            <option value="1">Motivo 1</option>
            <option value="2">Motivo 2</option>
        </select>

        <label class="form-label" for="">Comentarios:</label>
        <textarea class="form-control" name="" id="" cols="30" rows="10"></textarea>

        <label class="form-label" for="">Adjuntar evidencia:</label>
        <input class="form-control" type="file">

        <button class="btn btn-success" type="submit">Enviar reporte</button>
    </form>
</main>