<main class="container">

    <h2 class="mb-5">Reporte/Denuncia a anunciante</h2>
    
    <form action="./reportar/done?id=<%=post.id%>" method="POST" class="row my-3 p-2 border-2 g-3">

        <label for="" class="form-label">Usuario a reportar:</label>
        <input type="text" class="form-control" value="<%=post.user.username%>" disabled>
        <input type="hidden" class="form-control" name="username_reportado" value="<%=post.user.username%>">

        <label class="form-label" for="">Motivo del reporte:</label>
        <select class="form-select" name="reason" id="" required>
            <option selected disabled value="">--Seleccione una opción--</option>
            <option value="1">Incentiva a la venta/trafico de animales</option>
            <option value="2">Hace promoción de negocios/marcas sin motivo</option>
            <option value="3">Genera violencia/odio a través del anuncio</option>
            <option value="4">El anuncio no tiene nada que ver con el propósito de la página</option>
        </select>

        <label class="form-label" for="">Comentarios:</label>
        <textarea class="form-control" name="comment" id="" cols="30" rows="10" required></textarea>

        <label class="form-label" for="">Adjuntar evidencia:</label>
        <input class="form-control" type="file">

        <button class="btn btn-success" type="submit">Enviar reporte</button>
    </form>
</main>