<main class="container">

    <h2 class="mb-4">Iniciar sesión:</h2>


    <form action="" method="POST">
        <div>
            <label for="" class="form-label ">Correo o nombre de usuario:</label>
            <input type="email" placeholder="Introduce tu correo o nombre de usuario" class="form-control mb-4">
    
        </div>
    
        <div>
            <label for="" class="form-label">Contraseña:</label>
            <input type="password" placeholder="Introduce tu contraseña" class="form-control mb-4">
        </div>

        <div  class="mb-4">
            <label for="">¿No tiene una cuenta?</label>
            <a href="/signup/chooseTypeAccount">Crear cuenta</a>
        </div>

        <button type="submit" class="btn btn-success mb-4">Ingresar</button>
    </form>
</main>

<script>
    // para cambiar el color de texto de la sección en el navbar
    highlightNavbar(6)
</script>