<main class="container">

    <h2 class="mb-4">Iniciar sesión:</h2>


    <form action="/signin/iniciar" method="POST">
        <div>
            <label for="" class="form-label ">Nombre de usuario:</label>
            <input type="" placeholder="Introduce su nombre de usuario" name="username" class="form-control mb-4">
    
        </div>
    
        <div>
            <label for="" class="form-label">Contraseña:</label>
            <input type="password" placeholder="Introduce tu contraseña" name="password" class="form-control mb-4">
        </div>

        <div  class="mb-4">
            <label for="">¿No tiene una cuenta?</label>
            <a href="/signup/chooseTypeAccount">Crear cuenta</a>
        </div>

        <button type="submit" class="btn btn-success mb-4">Ingresar</button>
    </form>
</main>

<script>
    // para cambiar el color de texto de la sección en el navbar
    highlightNavbar(3)
</script>