<main class="container">

    <h2 class="mb-4">Iniciar sesión:</h2>


    <form action="" method="POST">
        <div>
            <label for="" class="form-label ">Correo o Nombre de Usuario:</label>
            <input type="email" placeholder="Introduce aquí tu correo o nombre de usuario" class="form-control mb-4">
    
        </div>
    
        <div>
            <label for="" class="form-label">Contraseña:</label>
            <input type="password" placeholder="Introduce tu Contraseña" class="form-control mb-4">
        </div>

        <div  class="mb-4">
            <label for="">¿Aún no tienes una cuenta?</label>
            <a href="/signup">¡Crea tu cuenta ahora!</a>
        </div>

        <button type="submit" class="btn btn-success mb-4">Ingresar</button>
    </form>
</main>