<p class="h1">Sugerencias</p>
<div class="row row-cols-1 row-cols-md-5 g-4" style="margin-top: 1rem;">
    <% sugerencias.forEach(function(sugerencia){ %>
        <div class="col">
            <div class="card" role="button">
                <%=sugerencia.name%>
            </div>
        </div>
    <% }) %>
</div>