.category-panel {
    position: absolute;
    width: 100%;
    bottom: 35px;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 1;
}
.icon-type {
    width: 36px;
    height: 36px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
