<div
  id="drawer"
  class="
    w-64 z-50
    hidden
    top-0
    left-0
    absolute
    h-full
    md:relative md:flex
    bg-white
    shadow-2xl
    flex-grow-0
  "
>
  <div
    class="fixed bg-white h-screen w-64 flex flex-col justify-between shadow"
  >
    <div>
      <div
        class="
          pl-3
          text-lg
          py-3
          text-gray-600
          font-semibold
          tracking-wide
          border-b-2 border-gray-300
          flex
          items-center
          justify-between
        "
      >
        <span>Pet Website</span>
        <button
          class="
            md:hidden
            toggle-drawer
            rounded-full
            mr-2
            focus:outline-none
            hover:text-indigo-500 hover:bg-gray-200
          "
        >
          <svg class="my-auto w-6 h6" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"
            />
          </svg>
        </button>
      </div>
    </div>

  </div>
</div>
