<footer class="bg-dark text-white py-4">
    <div class="container">

        <nav class="row">
            <a href="#" class="col-3 text-reset text-uppercase d-flex align-items-center">
                <img src="./img/pet_website_logo.png" alt="Logo PetWebsite" class="img-logo mr-2" style="width: 50px; height: 50px;">
            </a>

            <ul class="col-3 list-unstyled">
                <li class="font-weight-bold text-uppercase">NOSOSTROS</li>
                <li><a href="#" class="text-reset">Acerca de</a></li>
                <li><a href="#" class="text-reset">Contactanos</a></li>
                <li><a href="#" class="text-reset">Nuestros auspiciadores</a></li>
            </ul>

            <ul class="col-3 list-unstyled">
                <li class="font-weight-bold text-uppercase">CENTRO DE AYUDA</li>
                <li><a href="#" class="text-reset">FAQs</a></li>
                <li><a href="#" class="text-reset">Buscar ayuda</a></li>
                <li><a href="#" class="text-reset">Respuestas rapidas</a></li>
            </ul>

            <ul class="col-3 list-unstyled">
                <li class="font-weight-bold text-uppercase">NUESTRAS REDES</li>
                <li class="d-flex justify-content-between">

                    <a href="#" class="text-reset">
                        <i class="fab fa-facebook-f"></i>
                    </a>

                    <a href="#" class="text-reset">
                        <i class="fab fa-twitter"></i>
                    </a>

                    <a href="#" class="text-reset">
                        <i class="fab fa-instagram"></i>
                    </a>

                </li>
            </ul>
        </nav>
</footer>