<footer class="footer">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/style.css">
  <div class="container text-white">
    <div class="row">

      <div class="footer-col">
        <ul class="nav flex-column">
          <li><a href="/anuncios" class="col-3">
              <img src="../img/LOGO2.png" alt="Logo PetWebsite" class="img-logo mr-2"
                style="width: 200%; height: 100%;">
            </a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>NOSOTROS</h4>
        <ul class="nav flex-column">
          <li><a href="#" class="text-reset" style="text-decoration: none;" data-bs-toggle="modal"
              data-bs-target="#acercaDeModal">Acerca de la creación</a></li>
          <li><a href="mailto:contacto@petw.com" class="text-reset">contacto@petw.com</a></li>
          <li>Fecha de creación: 11/10/2021</li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>CENTRO DE AYUDA</h4>
        <ul class="nav flex-column">
          <li><a href="#" class="text-reset" style="text-decoration: none;" data-bs-toggle="modal"
              data-bs-target="#buscarAyudaModal">Buscar ayuda</a></li>
          <li><a href="mailto:ayuda@petw.com" class="text-reset">ayuda@petw.com</a></li>
          <li><a href="#" class="text-reset" style="text-decoration: none;" data-bs-toggle="modal"
              data-bs-target="#politicasPrivacidadModal">Políticas de privacidad</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>NUESTRAS REDES</h4>
        <div class="social-links">
          <a href="#facebook"><i class="fab fa-facebook-f"></i></a>
          <a href="#twitter"><i class="fab fa-twitter"></i></a>
          <a href="#instagram"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="modal" id="acercaDeModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="margin-left: 140px;">Acerca de nosotros</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="deleteMessage">
        <img src="../img/acercaDe.jpg" alt="" class="img-fluid w-50 rounded mx-auto d-block">
        <p style="text-align: center;">PetWebsite es un sitio web sin fines de lucro creado para encontrarles un hogar a
          todas las mascotas sin dueño que existen y poder ofrecer a los usuarios un portal donde encontrar a su mascota
          ideal además de otras funcionalidades pet friendly.</p>
        <p style="text-align: center; font-weight:bold;">Fundadora: Alessandra Núñez</p>
        <img src="../img/devAle1.PNG" alt="" class="img-fluid w-50 rounded mx-auto d-block">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="buscarAyudaModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="margin-left: 155px;">Buscar Ayuda</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="deleteMessage">
        <p>Si tienes alguna inquietud puedes llamarnos o escribirnos a nuestro número de WhatsApp:</p>
        <a href="tel:+51988588871">(51) 988 588 871 </a>
        <a href="https://wa.link/mzm0ox">| WhatsApp</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="politicasPrivacidadModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="margin-left: 127px;">Políticas de privacidad</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="deleteMessage" style="text-align:justify">
        <p>Por medio del presente documento, Tiendas PetWebsite S.A.C, identificada con RUC N° 20600467124 domiciliada
          en Av. República de Panamá N° 2577 – La Victoria (en adelante, “PetWebsite”) pone a disposición de los
          usuarios su Política de Privacidad, la cual se encuentra en armonía con la normativa vigente sobre protección
          de Datos Personales (Ley N° 29733 y Decreto Supremo 003-2013-JUS). A continuación, se señalan las finalidades
          de tratamiento de la información que usted nos ha suministrado en nuestro Sitio Web – www.PetWebsite.pe,
          quiénes son los encargados de tratarla, el tiempo de almacenamiento en nuestras Bases de Datos, las medidas de
          seguridad, y los medios para ejercer sus derechos como titular de los Datos Personales.

          1. ¿Qué información recopilamos?

          Recolectamos la siguiente información personal:

          1.1. Respecto de los datos personales de nuestros Clientes: nombre y apellidos, documento nacional de
          identidad, RUC, pasaporte, carné de extranjería, teléfono, correo electrónico, dirección, imagen, voz, firma,
          firma electrónica, estado civil, fecha de nacimiento, nacionalidad, sexo, profesión, edad, datos académicos,
          tarjetas de crédito, pertenencia a clubes o asociaciones, aficiones y hábitos personales.

          1.2. Respecto a los datos personales de nuestros Usuarios Mkt: nombre y apellidos, documento nacional de
          identidad, RUC, pasaporte, carné de extranjería, teléfono, correo electrónico, dirección, voz, firma, firma
          electrónica, fecha de nacimiento, sexo y edad.

          1.3. Respecto de los datos personales de Postulantes: nombre y apellidos, documento nacional de identidad,
          pasaporte, carné de extranjería, teléfono, correo electrónico, dirección, imagen, firma, estado civil, fecha
          de nacimiento, nacionalidad, sexo, profesión, edad, datos académicos y datos de persona de contacto.

          1.4. Respecto de los Datos de Quejas y Reclamos: nombre y apellidos, documento nacional de identidad, RUC,
          pasaporte, carné de extranjería, teléfono, correo electrónico, dirección, firma y nacionalidad.

          Dicha información será recopilada por medio de los formularios virtuales, formularios físicos, fuentes de
          acceso público y privado.

          Los datos personales en mención serán almacenados en los bancos de datos denominados “Clientes”, “Usuarios
          Mkt”, “Postulantes” y “Quejas y Reclamos” por el plazo indicado en cada aviso de privacidad o consentimiento.
          Cabe hacer de su conocimiento que nuestros bancos de datos se encuentran debidamente inscritos ante la
          Dirección General de Protección de Datos Personales, según lo exige la normativa vigente actualmente.


          2. ¿Cómo protegemos su información?

          PetWebsite ha adoptado todas las medidas técnicas, legales y organizacionales necesarias para garantizar la
          seguridad y el adecuado procesamiento de sus datos personales; así como para evitar cualquier manipulación
          indebida, pérdida accidental, destrucción o acceso no autorizado de terceros. Hacemos de su conocimiento que
          su información no será comercializada, transferida ni compartida sin su autorización y para fines ajenos a los
          que se describen a continuación.

          3. ¿Con qué finalidad utilizamos su información?

          Los datos personales que usted nos proporciona serán utilizados para las siguientes finalidades:

          3.1. Respecto de los datos personales de nuestros Clientes:

          · Procesar la compra realizada en virtud del contrato de consumo suscrito con PetWebsite.

          · Establecer un canal de comunicación con PetWebsite para informarle respecto del envío del producto adquirido
          u otras condiciones relacionadas a la relación contractual que subsiste con PetWebsite.

          · Verificar su información al momento de realizar la entrega del producto para confirmar su titularidad.

          · Incorpóralo en el registro de PetWebsite para fines estadísticos e históricos;

          · Establecer un medio de comunicación para atender sus consultas, preguntas, quejas, reclamos;

          · Pertenecer al programa de beneficios Superpuntos de PetWebsite.

          · Remitir promociones, beneficios, concursos, ofertas y, en general, publicidad sobre productos y servicios de
          PetWebsite.

          · Obtener información de fuentes de acceso público y privadas para fines de perfilamiento

          3.2. Respecto de los datos personales de nuestros Usuarios Mkt:

          · Pertenecer al programa de beneficios Superpuntos de PetWebsite.

          · Llevar un registro para fines estadísticos e históricos.

          · Remitir promociones, beneficios, concursos, ofertas y, en general, publicidad sobre productos y servicios de
          PetWebsite.

          · Obtener información de fuentes de acceso público y privadas para fines de perfilamiento

          3.3. Respecto de los datos personales de nuestros Postulantes:

          1. Participar en el proceso de reclutamiento para las plazas disponibles de la empresa.

          2. Realizar los exámenes necesarios proporcionales al cargo al que aspira.

          3. Verificar la información y antecedentes que han sido proporcionados por el postulante a través de fuentes
          de acceso público y privado.

          4. Guardar un registro de postulantes para fines estadísticos e históricos.

          3.4. Respecto de los Datos de Quejas y Reclamos

          · Establecer un medio de comunicación para dar respuesta a las solicitudes de gestión, quejas y reclamos que
          han sido registrado por el usuario y/o consumidor.

          · Llevar un registro de las personas que presentan reclamos y quejas a través del Libro de Reclamaciones con
          el propósito de cumplir con las normas de protección al consumidor.

          Para que PetWebsite pueda realizar actividades promocionales y gestiones de marketing, usted deberá otorgarnos
          su autorización expresa por medio de los check boxes implementados en nuestros consentimientos, dado que, sin
          su autorización, PetWebsite se abstendrá de enviarle este tipo de comunicación.

          4. ¿Quién tiene acceso a su información?



          Usted nos autoriza a que podamos compartir y encargar el tratamiento de su información personal con terceros
          que nos prestan servicios para mejorar nuestras actividades. En estos casos, garantizará que el tratamiento de
          sus datos se limite a las finalidades antes autorizadas y que se mantenga confidencialidad y se implementen
          las medidas de seguridad adecuadas.

          El detalle de los terceros encargados de tratamiento, así como a las Empresas Vinculadas de PetWebsite se
          encuentran en el anexo de la presente Política.

          5. ¿Cómo puede ejercer sus derechos como titular de Datos Personales?

          PetWebsite reconoce y garantiza el ejercicio de los derechos de acceso, rectificación, supresión o
          cancelación, oposición, información o revocación que por ley le asisten. Para ejercer los derechos aludidos
          deberá presentar una solicitud al siguiente correo electrónico pedidos@PetWebsite.pe señalando como asunto
          “Derechos Arco”. En caso, considera que no ha sido atendido, podrá presentar una reclamación ante la Autoridad
          Nacional de Protección de Datos Personales, dirigiéndose a la Mesa de Partes del Ministerio de Justicia y
          Derechos Humanos ubicado en Calle Scipión Llona N° 350, Miraflores, Lima, Perú.

          6. Actualizaciones de la presente política de privacidad



          Con motivo de la mejora continua de nuestros procesos, PetWebsite podrá realizar correcciones y
          actualizaciones a esta Política de Privacidad. Por favor, verifique estos términos regularmente para consultar
          los cambios que puedan haber existido y de qué manera le pueden afectar.</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>


<script>
  highlightNavbar(5)
</script>