<footer class="bg-dark text-white py-4">
    <div class="container">

        <nav class="row">
            <a href="/" class="col-3 text-reset text-uppercase d-flex align-items-center">
                <img src="./img/pet_website_logo.png" alt="Logo PetWebsite" class="img-logo mr-2" style="width: 50px; height: 50px;">
            </a>

            <ul class="col-3 list-unstyled">
                <li class="font-weight-bold text-uppercase">NOSOSTROS</li>
                <li><a href="#" class="text-reset">Acerca de la creación</a></li>
                <li>Fecha de creación: 11/10/2021</li>
                <li><a href="mailto:contacto@petwebsite.com.pe" class="text-reset">contacto@petwebsite.com.pe</a></li>
                
            </ul>

            <ul class="col-3 list-unstyled">
                <li class="font-weight-bold text-uppercase">CENTRO DE AYUDA</li>
                <li><a href="#" class="text-reset" type="text" style="text-decoration: none;">Políticas de privacidad</a></li>
                <li><a href="mailto:ayuda@petwebsite.com.pe" class="text-reset">ayuda@petwebsite.com.pe</a></li>
                
            </ul>

            <ul class="col-3 list-unstyled">
                <li class="font-weight-bold text-uppercase mb-2">NUESTRAS REDES</li>
                <li class="d-flex justify-content-between">

                    
                    <i class="fab fa-facebook-f"></i>
                    

                    
                    <i class="fab fa-twitter"></i>
                    

                    
                    <i class="fab fa-instagram"></i>
                    

                </li>
            </ul>
        </nav>
</footer>