<footer class="footer">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <div class="container">
  	<div class="row">

      <div class="footer-col">
        <ul>
          <li>
            <a href="/anuncios" class="col-3 text-reset text-uppercase d-flex align-items-center">
              <img src="./img/LOGO2.png" alt="Logo PetWebsite" class="img-logo mr-2" style="width: 200%; height: 100%;">
            </a>
          </li>
        </ul>
      </div>
            
      <div class="footer-col">
        <h4>NOSOTROS</h4>
        <ul>
          <li>
            <a href="#" class="text-reset" style="text-decoration: none;">Acerca de la creación</a>
          </li>
          <li>
            <a href="mailto:contacto@petwebsite.com.pe" class="text-reset">contacto@petwebsite.com.pe</a>
          </li>
          <li>Fecha de creación: 11/10/2021</li>
        </ul>
  	 	</div>

  	 	<div class="footer-col">
  	 		<h4>CENTRO DE AYUDA</h4>
  	 		<ul>
          <li>
            <a href="#" class="text-reset" style="text-decoration: none;">Buscar ayuda</a>
          </li>
          <li>
            <a href="mailto:ayuda@petwebsite.com.pe" class="text-reset">ayuda@petwebsite.com.pe</a>
          </li>
          <li>
            <a href="#" class="text-reset" style="text-decoration: none;">Políticas de privacidad</a>
          </li>
  	 		</ul>
  	 	</div>

  	 		
			<div class="footer-col">
  	 		<h4>NUESTRAS REDES</h4>
  	 		<div class="social-links">
  	 			<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 			<a href="#"><i class="fab fa-twitter"></i></a>
  	 			<a href="#"><i class="fab fa-instagram"></i></a>
  	 			<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 		</div>
  	 	</div>
  	</div>
  </div>
</footer>


<script>
    highlightNavbar(5)
</script>
