<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="/anuncios"; class="navbar-brand"; style=margin-right:60px;>Pet Website</a>
        <button  id="button_navbar" class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader1" aria-expanded="false"> 
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarHeader1">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/anuncios">Anuncios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shelters">Albergues</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/establishments?tab=listado">Establecimientos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/match">Encuentra tu mascota ideal</a>
                </li>
            
            <!-- arrinconarlo a la derecha -->
            <% if (globalType.length===0) { %>
            </ul>
            <ul class="navbar-nav justify-content-end">
                <div class="flex-shrink-0 dropdown">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle text-white" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="https://github.com/mdo.png" alt="mdo" class="rounded-circle" width="32" height="32">
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" style="font-size: 85%; position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 34px);">
                        <li><a class="dropdown-item" href="/signin">Iniciar sesion</a></li>
                        <li><a class="dropdown-item" href="/signup/chooseTypeAccount">Crear una cuenta</a></li>
                    </ul>
                  </div>
            </ul>  
            <% } %>

            <% if (globalType==='admin') { %>
            </ul>
            <ul class="navbar-nav justify-content-end">
                <div class="flex-shrink-0 dropdown">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle text-white" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="https://github.com/mdo.png" alt="mdo" class="rounded-circle" width="32" height="32">
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" style="font-size: 85%; position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 34px);">
                        <li><a class="dropdown-item" href="/accounts?tipo_cuenta=0">Administrar usuarios</a></li>
                        <li><a class="dropdown-item" href="/accounts?tipo_cuenta=1">Administrar shelters</a></li>
                        <li><a class="dropdown-item" href="/accounts?tipo_cuenta=2">Administrar establecimientos</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/user/logout">Cerrar sesion</a></li>
                    </ul>
                  </div>
            </ul>  
            <% } %>

            <% if (globalType.length>0 && globalType != 'admin') { %>
                <li class="nav-item">
                    <a class="nav-link" href="/adopcion">Dar en adopción</a>
                </li>
            </ul>
            <ul class="navbar-nav justify-content-end">
                <div class="flex-shrink-0 dropdown">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle text-white" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="https://github.com/mdo.png" alt="mdo" class="rounded-circle" width="32" height="32">
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" style="font-size: 85%; position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 34px);">
                        <li><a class="dropdown-item" href="/usuario/perfil">Mi perfil</a></li>
                        <li><a class="dropdown-item" href="/editar_usuario/elegirTipo">Editar perfil</a></li>
                        <li><a class="dropdown-item" href="/usuario/cambiarContrasena">Cambiar contraseña</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/user/logout">Cerrar sesion</a></li>
                    </ul>
                  </div>
            </ul> 
            <% } %>
                        
        </div>
    </div>
</nav>

