<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Pet Website</a>
        <button  id="button_navbar" class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader1" aria-expanded="false"> 
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarHeader1">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                </li>
                <li class="nav-item">

                    <a class="nav-link" href="/anuncios">Anuncios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Albergues</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/match">Encuentra tu mascota ideal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adopcion">Dar en adopción</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Perfil</a>
                </li>
            </ul>
            <form class="d-flex">
                <!-- falta arreglar para diseño responsive -->
                <a href="/signin">Iniciar sesión</a>
                <input class="form-control me-2 block md:hidden lg:block w-48" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light block md:hidden lg:block w-16 p-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>