<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/index.css" rel="stylesheet">
  </head>
  <body>
    <div class="relative md:flex">
      <%- include('../partials/drawer.ejs') %>
      <div class="flex-grow">
        <%- include('../partials/navbar.ejs') %>
        <div class="sm:mx-2 md:mx-12 lg:mx-20 xl:mx-auto xl:max-w-5xl py-3">
          <%- body %>
        </div>
      </div>
    </div>
  </body>
  <%- script %>
</html>
